@import url(../../index.css);
.header{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    place-items: center;
  }

  .header--title{
    font-size: 50px;;
  }

  .header--input{
    border: 1px solid var(--gray);
    margin:0 5px;
    border-radius: 3px;
    height: 1.5rem;
    padding: .3rem .3rem;
    width: 45%;
  }
  .header--button{
    width: 45%;
    background-color:var(--green);
    border: var(--green);
    padding: .5rem ;
    border-radius: 3px;
    color: var(--white); 
  }

  /* .header--container{
    float: right;
    margin-top: 2rem;
   
  } */

  .container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
    place-content: center;
    padding: 3rem 5rem;
    /* margin: 5rem 10rem; */
  }